*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main404{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 20px;

}

#Contenedor404{
    display: flex;
    flex-direction: column;
    justify-items: auto;
    text-align: center;
    font-size: 20px;
}

#letras404{
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
}