


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: #ffffff ;
    -webkit-font-smoothing: antialiased;

}

header{
    background-color: #34bbf3;
}

#principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #34bbf3;
}

#paleta{
    width: 600px;
    height: 400px;


}


#presentacion h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;

}


#presentacion p{
    font-family: 'JetBrains Mono', monospace
}

.titulo{
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    text-align: center;

}

#tituloContacto{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    text-align: center;
    padding-top: 50px;
}

#portatilgif{
    position: relative;
    width: 80px;
    left: 400px;
}

#estadisticas{
    display: flex;
    flex-direction: column ;
    align-items: center;

}

#cajonproyectos{
    margin-top: 100px;
}

#menu{
    position: fixed;
    z-index: 99;
}

#btnToggle{
    font-size: 45px;
    color: #ffffff;
    margin: 20px;
    padding: 10px;
    background-color: #ff0066;
    border-radius: 100px;
    width: 72px;
    text-align: center;
    position: absolute;
    border: transparent;
    transition: 2s ease all;

}

#btnToggle.active{
    font-size: 45px;
    color: #ffffff;
    margin: 20px;
    padding: 10px;
    background-color: #FF0066;
    border-radius: 50px;
    width: 72px;
    text-align: center;
    transform: rotate(90deg);
    position: absolute;
    transition: 1s ease all;

}

#btnToggle:hover{
    box-shadow: rgb(255, 0, 102) 0 0 0 3px, rgb(255, 255, 255) 0 0 0 6px;
}


#objetosMenu{
    position: absolute;
    top: 100px;
    left: 90px;
    border-radius: 20px;
    background-color: #ffffff;

    height: 200px;
    width: 210px;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    animation-name: desplegar;
    animation-duration: 0.2s;
}


#objetosMenu ul {
    padding: 5px;
    list-style-type: none;
    border-radius: 20px;
    width: 220px;
    background-color: #ffffff;
    animation-name: desplegar;
    animation-duration: 0.1s;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}



#objetosMenu li {
    animation-name: aparecer;
    animation-duration: 3.1s;

}



#objetosMenu li a {
    border-radius: 20px;
    display: block;
    margin: 2px;
    color: #000;
    padding: 8px 18px;
    text-decoration: none;

}


#objetosMenu li a:hover {
    border-radius: 20px;
    background-color: #ff0066;
    color: white;
}

#objetosMenu.oscuro {
    background-color: #383838;
    color: white;
}
#objetosMenu.oscuro ul {
    background-color: #383838;

}

#objetosMenu.oscuro ul li a{
    color: white;
}

#desplegable {
    display: none;
    

}

#desplegable.active {
    display: block;

}

#cajaOlas{
    background: linear-gradient(180deg, rgb(52, 187, 243) 0%, rgb(255, 255, 255) 100%);
}

#contenedorolas{
    position: relative;
    bottom: -10px;

}


#modoIluminacion{
 position: relative;
}

#solyluna{
    position: absolute;
}




#sol{
    font-size: 45px;
    margin: 20px;
    padding: -10px 20px;
    background-color: #fcaf3c;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    text-align: center;
    position: absolute;
    border: transparent;
    transition: 2s ease all;
    z-index: 10;


}


#sol.luna{
    font-size: 45px;
    margin: 20px;
    padding: -10px 20px;
    background-color: #CCCCCC;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    text-align: center;
    position: absolute;
    border: transparent;
    transition: 2s ease all;

}

#sol:hover{
    box-shadow: rgb(252, 175, 60) 0 0 0 3px, rgb(255, 255, 255) 0 0 0 6px;
}

#sol.luna:hover{
    box-shadow: rgb(123, 121, 121) 0 0 0 3px, rgb(255, 255, 255) 0 0 0 6px;
}



#principal.oscuro{
    background-color: #003482;
    color: white;
}

#cajaOlas.oscuro{
    background: linear-gradient(180deg, rgb(0, 52, 130) 0%, rgb(26, 27, 30) 100%);
}

#olas.oscuro{
    fill: #1A1B1E;
}

#estadisticas.oscuro,#contacto.oscuro,#pie.oscuro{
    background-color: #1A1B1EFF;
    color: white;
}


#contenedorBlob{
    position: relative;


}





/*SCROLL RATON*/



.arrow{
    padding: 10px;
    position: relative;
    z-index: 1;
    display: block;
    width: 50px;
    height: 50px;
    border-bottom: 3px solid #FF0066FF;
    border-right: 3px solid #FF0066FF;
    transform: rotate(45deg);
    animation: scroll 2s linear infinite;

    bottom: 100px;

    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}



/*HABILIDADES*/


#cajonSobreMi{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#sobreMi{
    background:  #d4d5db;
    font-family: 'JetBrains Mono', monospace;
    width: 700px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-radius: 30px;

}

#imgContenedor{
    border-radius: 10px 10px 0 0;
    background: white;
    height: 220px;

}
#imgContenedor img{

    border-radius: 0     0 10px 10px;
    width:170px;


}

#sobreMi.oscuro{
    color: white;
    background: #383838;
}

#columnDescripcion{
    padding: 10px;
}

#habilidades{

    display: flex;
    flex-direction: row;
    width: 100%;

}

#frontend{
    padding: 10px;
    margin: 15px;
    color: #1A1B1E;
    background-color: #d4d5db;
    width: 350px;
    height: 500px;
    text-align: center;
    border-radius: 20px;
}
#backend{
    padding: 10px;
    margin: 15px;
    color: #1A1B1E;
    background-color: #d4d5db;
    width: 350px;
    height: 500px;
    text-align: center;
    border-radius: 20px;

}

#otras{
    padding: 10px;
    margin: 15px;
    color: #1A1B1E;
    background-color: #d4d5db;
    width: 350px;
    height: 500px;
    text-align: center;
    border-radius: 20px;


}

.iconoSkill{
    margin: 10px;
}

#otras.oscuro, #backend.oscuro, #frontend.oscuro{
    background-color: #383838;
    color: white;

}


.ptitulo{
    font-family: 'Poppins', sans-serif;


}

.pdescripcion{
    font-family: 'JetBrains Mono', monospace;
}


#proyectos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#proyectosColumna1{
    display: flex;
    flex-direction: column;
}

#proyectosColumna2{
    display: flex;
    flex-direction: column;
}

#hotelSoler, #clinicaVeterinaria{
    padding: 10px;
    margin: 15px;
    color: #1A1B1E;
    background-color: #d4d5db;
    width: 540px;
    height: 300px;
    text-align: center;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
}



#hotelSoler.oscuro{
    background-color: #383838;
    color: white;
}

#clinicaVeterinaria.oscuro{
    background-color: #383838;
    color: white;
}

.imgproyecto{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: auto 20px;
}


.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    margin-right: 10px;
}


#contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#emailContacto{
    padding: 10px;
    color: #1A1B1E;
    background-color: #d4d5db;
    text-align: center;
    border-radius: 20px;
    height: 200px;
    width: 600px;

    display: flex;
    flex-direction: column;
    margin: auto;

}

#emailContactoContenido{
    margin: auto 0  ;
}

#emailContacto.oscuro{
    background-color: #383838;
    color: white;
}

#pie{
padding: 20px;
}

#desaparecer{
    opacity: 0;
}

#cajonproyectos, #cajonhabilidades, #contacto{
    padding-bottom: 100px;
}




/*TODAVIA NO HE CURRADO*/
#trabajos{
    display: none;
}


#pie{
    text-align: center;
    font-family: 'JetBrains Mono', monospace;

}

#redesSociales img{
    width: 50px;
}




/*ANIMACIONES*/

@keyframes desplegar {
    from {height: 10px;}
    to {height: 200px;}
}

@keyframes plegar  {
    from {height: 200px;}
    to {height: 10px;}
}


@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;

    }
}

@keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@media screen and (max-width: 1500px) {
    .eliminar{
        display: none;
    }
}


/*RESPONSIBE WEB  MAX 1146PX*/
@media screen and (max-width: 1146px) {

    #proyectos{
        flex-direction: column;
    }

    #habilidades{
        flex-direction: column;
    }

    body{
        overflow-x: hidden;
    }

    #hotelSoler, #clinicaVeterinaria, #otras, #backend, #frontend{
        margin: 10px auto;
    }

}

@media screen and (max-width: 910px) {

    #sobreMi{
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    #columnDescripcion{
        margin-top: 50px;
    }

    #paleta{
        display: none;
    }

    #principal{
        flex-direction: column;
    }


    #modoIluminacion{
        position: relative;
        left: 70%;


    }

    #presentacion{
        margin: 50px auto;
    }

    #portatilgif{
        display: none;
    }

    #btnToggle{
        display: none;
    }

    #hotelSoler, #clinicaVeterinaria, #otras, #backend, #frontend{
        margin: 10px auto;
    }

}

@media screen and (max-width: 628px) {

    #presentacion h1{
        font-family: 'Press Start 2P', cursive;
        font-size: 20px;

    }

    #hotelSoler{
        width: 90%;
        flex-direction: column;
        height: 100%;

    }


    #hotelSoler img{
        margin: auto;
    }

    #clinicaVeterinaria{
        width: 90%;
        flex-direction: column;
        height: 100%;

    }

    #clinicaVeterinaria img{
        margin: auto;
    }

    #frontend{
        width: 90%;
    }

    #backend{
        width: 90%;
    }

    #otras{
        width: 90%;

    }

    #emailContacto{
        width: 90%;
    }

    #hotelSoler, #clinicaVeterinaria, #otras, #backend, #frontend{
        margin: 10px auto;
    }



}


@media screen and (max-width: 610px) {

    #hotelSoler, #clinicaVeterinaria, #otras, #backend, #frontend{
        margin: 10px auto;
    }

}

/*BARRA DE DESPLAZAMIENTO*/

/*Ajustes barra desplazamiento*/

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: #1A1B1EFF;


}

body::-webkit-scrollbar-thumb {
    background-color: #9275FA;
    border-radius: 50px;
}

